{% block flag %}
{% spaceless %}
<img src="/{{ asset.getTargetPath() }}"{% for key, value in attrs %} {{ key }}="{{ value }}"{% endfor %}/>
{% endspaceless %}
{% endblock%}

{% block flags %}
{% for asset in flags %}
{% if asset is assetvisible or not hideCurrent %}
{{ asset_flag(asset, { attrs: attrs }) }}
{% endif %}
{% endfor %}
{% endblock %}

{% block path_flag %}
{{ url_asset_flag(path(route, route_params|default({})), asset, { attrs: attrs }) }}
{% endblock %}

{% block path_flags %}
{% for asset in flags %}
{% if asset is assetvisible or not hideCurrent %}
{{ path_asset_flag(route, asset, route_params, { attrs: attrs }) }}
{% endif %}
{% endfor %}
{% endblock %}

{% block linked_flag %}
{% spaceless %}
<a href="{{ url }}">
{{ asset_flag(asset, { attrs: attrs }) }}
</a>
{% endspaceless %}
{% endblock %}

{% block domains_flags %}
{% for asset in flags %}
{% if asset is assetvisible or not hideCurrent %}
{{ url_asset_flag(asset_url(asset), asset, { attrs: attrs }) }}
{% endif %}
{% endfor %}
{% endblock %}
